@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-------------------------------------------General styles*/

body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

.form-headings {
  color: #fff;
}

.label-1 {
  color: #fff;
  font-size: 35px;
  padding-right: 15px;
}

.label-2 {
  color: #fff;
  font-size: 20px;
  padding-right: 15px;
}

.label-2-result {
  color: #F67571;
  font-size: 20px;
  padding-right: 15px;
}


.general-form {
  width: 75%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.feedback {
  min-height: 40px;
  height: fit-content!important;
}

/*-------------------------------------------Media queries*/

@media(min-width: 768px) {
  .type {
      font-size: 200%;
    }
}

@media(max-width: 767px) {
    #ul-nav {
      padding-top: 0!important;
    }
    nav {
      margin-left: 17px;
      margin-top: -30px;
    } 
    label {
      font-size: 20px!important;
    }
    .categories-links {
      font-size: 25px!important;
    }
}

@media(min-width: 1000px) {
  .type {
      font-size: 300%;
    }
}

/*-------------------------------------------Header*/

#nav-bar {
    background-color: #F67571;
}

#logo-image {
    min-height: 100px;
    width: 225px;
}

#ul-nav {
  padding-top: 40px;
}

.nav-name {
  color: #020202;
  font-weight: 600;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 2px;
}

.nav-name:hover {
  color: #fff;
}

.navbar-dark .navbar-toggler {
  color: #020202;
  border-color: #020202;
  margin-top: 15px;
}
/*-------------------------------------------Hero*/

#hero-background {
  background: url(../images/accounting-career-1.png);
  background-size: cover;
  display: flex;
}

#hero-bot {
    background-color: #020202;
    width: 50%;
    height: fit-content;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 45px;
    margin-bottom: 45px;
    border: 5px solid #F67571;
    border-radius: 10%;
}

/*-------------------------------------------Stackoverflow template code*/

.type {
    font-family: monospace;
    color:#0000;
    background:
      linear-gradient(-90deg,#F67571 5px,#0000 0) 10px 0,
      linear-gradient(#fff 0, #fff 0) 1px 0;
    background-size:calc(var(--n)*2ch) 150%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      b .4s infinite steps(1),   
      t calc(var(--n)*.1s) steps(var(--n)) forwards;
  }
  @keyframes t{
    from {background-size:0 200%}
  }
  @keyframes b{
    50% {background-position:0 -100%,0 0}
  }

/*-------------------------------------------User-Data*/  

.btn-user-data {
  color: #020202;
  background-color: #F67571;
}

.btn-user-data:hover {
  color: #fff;
}

.data-input {
    background-color: #020202;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
}

#user-name {
  color: #fff;
}

/*-------------------------------------------Categories section*/

.categories-links {
  font-size: 35px;
  text-align: center;
  margin: auto;
  padding-top: 55px;
  padding-bottom: 55px;
}

.categories-links >a {
  color: #fff;
  text-decoration: none;
  padding: 25px;
  border: solid 5px #F67571;
  border-radius: 10%;
  transition: all 0.35s ease-in-out;
}

.categories-links >a:hover {
  color: #F67571;
}

.ratio-form {
  width: 75%;
  margin: auto;
}

/*-------------------------------------------profitability.html*/

#profitability-ratios {
  background-color: #020202;
}


/*-------------------------------------------Liquidity.html*/

#liquidity-ratios {
  background-color: #020202;
}

/*-------------------------------------------Liquidity.html*/

#efficiency-ratios {
  background-color: #020202;
}

/*-------------------------------------------gearing.html*/

#gearing-ratios {
  background-color: #020202;
}

/*-------------------------------------------shareholders.html*/

#shareholders-ratios {
  background-color: #020202;
}



/*-------------------------------------------Footer*/

#footer-bar {
    background-color: #F67571;
    min-height: 110px;
    font-family: "Roboto", sans-serif;
}

#about, #social {
  padding: 25px;
  font-weight: bold;
  text-align: justify;
}

#social ul {
  text-align: center;
}

.social-links li a i {
  padding-top: 35px;
  font-size:  25px;
  color: #020202;
  transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  color: #fff;
}